body{
    font-family: sans-serif;
    margin: 0;
}

#panelContainer{
    display: grid;
    grid-template-columns: 200px auto;
    width: 100%;
    min-height: 100vh;
}
#displayPanel{
    background-color:rgb(242, 245, 250);
}
#userdetails{
    border-bottom: 5px solid rgb(242, 245, 250);
    padding: 5px;
}

#userDetailsName{
    font-style: italic;
    font-size: 13px;
    color: grey;
}

#sidebarMenu p{
    border-bottom: 1px solid #1964da;
    width: 170px;
    margin-left: 5px;
    padding: 5px 0px 5px 10px;
    transition: 0.5s background-color ease, 0.3s border-radius ease;
    cursor: pointer;
}

#sidebarMenu p:hover{
    background-color: #1964da;
    color: white;
    border-radius: 10px;
}

#server_msg {
    display: none;
    position: fixed;     
    bottom: 1em;         
    left: 1em;           
    max-width: 300px;    
    padding: 0.75em 1em;  
    background: white;
    color: black;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 0.95rem;
    z-index: 2;        
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    border: 1px solid black;
}

#add_student{
    width: 300px;
}

#module_actions{
    display: grid;
    grid-template-columns: auto auto auto ;
    column-gap: 10px;
    padding: 10px;
    align-items: center;
}

#module_actions p {
    margin: 0px 0px 0px 0px;
}

#manage_modules_content{
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    margin-top: 15px;
}


