
.form_container {
    background-color: white;
    padding: 20px;
    width: max-content;
    margin: auto;
    border-radius: 10px;
    outline: 2px solid black;
}

.form_container h1 {
    margin: 10px auto;
    width: max-content;
    border-bottom: 2px solid #1964da;
}

label {
    display: block;
}

input[type = 'text'],input[type = 'password'],input[type = 'email'],input[type = 'date'] {
    outline: 1px solid black;
    width: 300px;
    height: 22px;
    border: none;
    box-sizing: border-box;
    
}

input[type = 'text']:focus,input[type = 'password']:focus,input[type = 'email']:focus,input[type = 'date']:focus {
    outline: 1px solid #1964da;
    box-shadow: none;
}

button {
    width: 100%;
    background-color: #1964da;
    border: none;
    color: white;
    height: 26px;
    transition: 0.5s border-radius ease;
}

button:hover {
    border-radius: 10px;
    outline: 2px solid black;
    cursor: pointer;
}

.form_error {
    color: red;
}

