<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management System</title>
    <link rel="stylesheet" href="style/index_style.css">
</head>
<body>


    <div id="action_container">
        <div id="heading_and_image_container">
            <img src="images/index.png" alt="" width="400px">
            <p>Student Management System</p>
        </div>
        <div id="action_button_container">
            <button onclick="location.href='adminLogin.html'">Admin Login</button>
            <button onclick="location.href='studentLogin.html'">Student Login</button>
        </div>

    </div>

</body>
</html>