<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    <link rel="stylesheet" href="style/form_style.css">
    <link rel="stylesheet" href="style/login_style.css">
</head>
<body>
    <div class="form_container">
        <h1>Student Login</h1>

        <form action="" method="post">

            <label for="stdID">Student ID </label>
            <span class="form_error"> </span>
            <input type="text" name="stdName" id="stdID" >

            <label for="pwdID">Password</label>
            <span class="form_error"></span>
            <input type="password" name="password" id="pwdID"  > 

            <button type="submit" >Login</button>
            
        </form> 
            <br>
            <button  onclick="location.href='/'"> Back to Home </button>

    </div>

</body>
</html>