<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="style/dashboard.css">
</head>
<body>

    <div id="panelContainer">
        <div id="sidePanel">
            <div id="userdetails">
                <span>Student</span><br>
                <span id="userDetailsName">Roberto James</span>
            </div>
            <div id="sidebarMenu">
                <p>View Profile</p>
                <p>Module Enrollment</p>
                <p>View Grades</p>
                <p onclick="location.href='/'">Back to Home </p>
            </div>
        </div>

        <div id="displayPanel">  </div>

    </div>

</body>
</html>